[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/nicksherefkin/hugo-future-imperfect-slim.git
[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
[submodule "themes/swift"]
	path = themes/swift
	url = https://github.com/onweru/hugo-swift-theme.git
[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "themes/hugo-theme-meme"]
	path = themes/hugo-theme-meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
